<div class="team-title team-title-bg">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="team-title-text">
                    <h2>Nuestro equpo</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <i class="icofont-rounded-double-right"></i>
                            Team Members
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-section team-style-two team-style-three team-members pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/FJAC1.png" alt="team member">

                        <div class="team-social">
                            <a href="https://www.facebook.com/JacobAvilaCamacho"><i class="icofont-facebook"></i></a>
                            <a href="https://twitter.com/avilajacob"><i class="icofont-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/jacob-avila-camacho/"><i class="icofont-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCHQDZW3R0NqPyAE3kOccOAw"><i class="icofont-youtube"></i></a>
                            <a href="https://www.jacobsoft.com.mx/es_mx/"><i class="icofont-ui-social-link"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Francisco Jacob Avila Camacho</h4>
                        <p>Coordinador de CCAI</p>
                        <br>
                        <p>Con una experiencia de más de 15 años en el área de
                            tecnología y siendo profesor del Tecnológico de Estudios
                            Superiores de Ecatepec, formando grandes ingenieros en su
                            paso por la escuela.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/JMSC1.png" alt="team member">

                        <div class="team-social">
                            <a href="https://www.facebook.com/juanmanuel.steincarrillo"><i class="icofont-facebook"></i></a>
                            <a href="https://twitter.com/jmsteinc"><i class="icofont-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/juan-manuel-stein-carrillo-586635185/"><i class="icofont-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCUz_oDxs7txGYcLppc56wuw"><i class="icofont-youtube"></i></a>
                            <a href="https://scholar.google.com.mx/citations?hl=es&user=uIO1NVgAAAAJ"><i class="icofont-ui-social-link"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Juan Manuel Stein Carrillo</h4>
                        <p>Encargado de proyectos.</p>
                        <br>
                        <p>Profesor del Tecnológico de Estudios Superiores de Ecatepec desde hace 10 años,
                            lleva la logística en los proyectos que se asignan en el Centro de Cooperación
                            Academia Industria (CCAI).</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/AMR1.png" alt="team member">

                        <div class="team-social">
                            <a href="#"><i class="icofont-facebook"></i></a>
                            <a href="#"><i class="icofont-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/phd-adolfo-melendez-ramirez-23b90376/"><i class="icofont-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCmiik0pCnObXFrUm0GgOx8g"><i class="icofont-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Adolfo Meléndez Ramírez</h4>
                        <p>Encargado de proyectos</p>
                        <br>
                        <p>Un profesor con alta trayectoria en el área tecnológica y con muchas certificaciones
                            y experiencia en redes, guía a los estudiantes a realizar proyectos de calidad y utilidad.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/LMMV1.png" alt="team member">

                        <div class="team-social">
                            <a href="#"><i class="icofont-facebook"></i></a>
                            <a href="#"><i class="icofont-twitter"></i></a>
                            <a href="#"><i class="icofont-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCmiik0pCnObXFrUm0GgOx8g"><i class="icofont-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4>Leonardo Miguel Moreno Villalba</h4>
                        <p>Encargado de proyectos.</p>
                        <br>
                        <p>Siendo del área de informática, el profesor Leonardo es la conexión entre el área
                            de informática y sistemas que conforman este Centro de Cooperación Academia Industria (CCAI).</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
