<div class="blog-title blog-title-bg">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="blog-title-text">
                    <h2>Nuestros Servicios</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <i class="icofont-rounded-double-right"></i>
                            Servicios
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-post-top pt-100">
    <div class="container">
        <div class="row pb-65 align-items-center">
            <div class="col-lg-3 col-md-4">
            </div>
        </div>
    </div>
</div>

<div class="main-blog-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-area">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/FOTOS/TODAS/IOT.png" alt="blog image">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a routerLink="/blog-details">Internet de las Cosas</a></h4>
                        <p>Desarrollo de dispositivos inteligentes con interconectividad wifi, bluetooth y otros enlaces utilizando sensores y actuadores para el control y automatización.</p>

                        <a routerLink="/blog-details" class="blog-btn">
                            Leer mas
                            <i class="icofont-rounded-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-area">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/FOTOS/TODAS/ManufacturaAditiva.png" alt="blog image">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a routerLink="/blog-details">Manufactura Aditiva</a></h4>
                        <p>Con Impresoras 3D de formato amplio que permiten crear prototipos y dispositivos para la industria y el sector salud</p>

                        <a routerLink="/blog-details" class="blog-btn">
                            Leer mas
                            <i class="icofont-rounded-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-area">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/FOTOS/TODAS/REALIDADVirt.png" alt="blog image">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a routerLink="/blog-details">Realidad Virtual</a></h4>
                        <p>Aplicaciones con realidad aumentada para el mantenimiento industrial, recorridos virtuales</p>

                        <a routerLink="/blog-details" class="blog-btn">
                            Leer mas
                            <i class="icofont-rounded-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-area">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/FOTOS/TODAS/CIBERseguridad.png" alt="blog image">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a routerLink="/blog-details">Ciberseguridad</a></h4>
                        <p>Con nuestro servicio estarás garantizando la protección de la infraestructura computacional y todo lo relacionado con la misma.</p>

                        <a routerLink="/blog-details" class="blog-btn">
                            Leer mas
                            <i class="icofont-rounded-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-area">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/FOTOS/TODAS/bigdata1.png" alt="blog image">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a routerLink="/blog-details">Big Data
                        </a></h4>

                        <p>Datos a gran escala y complejos que precisan de aplicaciones informáticas no tradicionales de procesamiento de datos para tratarlos adecuadamente.</p>

                        <a routerLink="/blog-details" class="blog-btn">
                            Leer mas
                            <i class="icofont-rounded-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-area">
                    <div class="blog-img">
                        <a routerLink="/blog-details">
                            <img src="assets/FOTOS/TODAS/IngenieríadSeguridad.png" alt="blog image">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a routerLink="/blog-details">Ingeniería de Software</a></h4>

                        <p>Rama de la informática que estudia la creación de programas para bien de la industria de cualquier índole</p>

                        <a routerLink="/blog-details" class="blog-btn">
                            Leer mas
                            <i class="icofont-rounded-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
