<div class="home-section">
    <div class="home-slider-area owl-carousel owl-theme">
        <div class="home-slider-item items-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="home-text">
                            <h1>Centro de Cooperación Academia Industria (CCAI)</h1>
                            <p>El Centro de Cooperación Academia Industria, somos un laboratorio de desarrollo
                                tecnológico que se encuentra dentro de las instalaciones del Tecnológico de
                                Estudios Superiores de Ecatepec.</p>
                            <div class="theme-button">
                                <a routerLink="/about" class="default-btn active-btn">Conocenos</a>
                                <a routerLink="/contact" class="default-btn">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-slider-item items-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="home-text">
                            <h1>Centro de Cooperación Academia Industria (CCAI)</h1>
                            <p>Es un laboratorio de desarrollo experimental donde se
                                otorga los materiales necesarios para la elaboración del proyecto,
                                así como el equipo de cómputo..</p>
                            <div class="theme-button">
                                <a routerLink="/about" class="default-btn active-btn">Conocenos</a>
                                <a routerLink="/contact" class="default-btn">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-slider-item items-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="home-text">
                            <h1>Centro de Cooperación Academia Industria (CCAI)</h1>
                            <p>Es el espacio ideal para los proyectos que ayudan a mejorar el futuro de la sociedad.</p>
                            <div class="theme-button">
                                <a routerLink="/about" class="default-btn active-btn">Conocenos</a>
                                <a routerLink="/contact" class="default-btn">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="service-section pt-100 pb-70">
    <div class="container">
        <div class="section-head text-center">
            <h2>Nuestros<span>Servicios</span></h2>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-award"></i>
                    <h3>INTERNET DE LAS COSAS (TIC) Y DESARROLLO DE SOFTWARE</h3>
                    <p>Desarrollo de proyectos IOT para sistemas embebidos y comunicación inalámbrica
                        enfocados a la industria 4.0. Así como proyectos para desarrollar software
                        positiva para apoyar a la industria de todo tipo. </p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card ">
                    <i class="flaticon-credit-card"></i>
                    <h3>CIBERSEGURIDAD</h3>
                    <p>Proyectos enfocados a la ciberseguridad en redes y sistemas con análisis
                        de vulnerabilidades y estrategias de protección.</p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-clock"></i>
                    <h3>INTELIGENCIA ARTIFICIAL </h3>
                    <p>Aprendizaje supervisado y no supervisado para sistemas inteligentes
                        utilizando redes neuronales, lógica, difusa, etc.
                    </p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class="flaticon-cleaning-spray"></i>
                    <h3>REALIDAD VIRTUAL, AUMENTADA E IMPRESIÓN 3D</h3>
                    <p>Sistemas de realidad aumentada e inmersiva para diagnóstico, capacitación,
                        mantenimiento, etc. Así como proyectos para demostrar la impresión 3D </p>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="service-shapes">
            <img src="assets/img/service/shapes/1.png" alt="shape">
            <img src="assets/img/service/shapes/2.png" alt="shape">
            <img src="assets/img/service/shapes/3.png" alt="shape">
            <img src="assets/img/service/shapes/4.png" alt="shape">
            <img src="assets/img/service/shapes/5.png" alt="shape">
            <img src="assets/img/service/shapes/6.png" alt="shape">
            <img src="assets/img/service/shapes/7.png" alt="shape">
            <img src="assets/img/service/shapes/8.png" alt="shape">
            <img src="assets/img/service/shapes/9.png" alt="shape">
            <img src="assets/img/service/shapes/10.png" alt="shape">
        </div>
    </div>
</section>

<section class="why-choose-section why-choose-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 why-choose-img"></div>

            <div class="col-lg-5 offset-lg-6 offset-md-0">
                <div class="why-choose-text">
                    <div class="section-head">
                        <h2>Explora la Web</h2>
                        <p>Para conocer más sobre las labores de CCAI, lee acerca dee las siguientes secciones</p>
                    </div>
                </div>
                <div class="why-choose-accordian">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <a href="#" class="btn" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Servicios
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    Entérate de los servicios que ofrecemos en el Centro de Cooperación Academica
                                    Industrial (CCAI)
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Equipo
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    Conoce al mejor equipo que se tiene en el CCAI y lo preparados que ellos
                                    están para resolver cualquier eventualidad
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        INVESTIGACIÓN
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    Parte de nuestra experiencia se basa en nuestra meticulosa investigación
                                    sobre los temas que van a desarrollarse. Sabemos como llevar a cabo cualquier
                                    proyecto
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <a href="#" class="btn collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        CONTACTO
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    Con más de 5 años de experiencia somos una gran opción, envíanos un
                                    mensaje lo antes posible, contestaremos a la brevedad
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="why-choose-shape">
            <img src="assets/img/why-choose/shape-1.png" alt="shape">
        </div>
    </div>
</section>

<div class="process-section pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="process-card">
                    <i class="icofont-spinner"></i>
                    <h3>RANKING ESCOLAR</h3>
                    <p>Estamos en el número 17 de las mejores escuelas de ingeniería en el país</p>
                    <img src="assets/img/process-pattern-2.png" alt="arrow">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="process-card">
                    <i class="icofont-star"></i>
                    <h3>ALTA COMPETITIVIDAD EN EL MERCADO</h3>
                    <p>Generamos ingenieros con capacidades altas para el actual mercado</p>
                    <img src="assets/img/process-pattern-2.png" alt="arrow">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="process-card">
                    <i class="icofont-world"></i>
                    <h3>EDUCACIÓN DE CALIDAD</h3>
                    <p>La educación en el TESE es de primer nivel para formar grandes profesionales </p>
                    <img src="assets/img/process-pattern-2.png" alt="arrow">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 offset-sm-3 offset-md-0">
                <div class="process-card">
                    <i class="icofont-recycle-alt"></i>
                    <h3>VARIEDAD DE INGENIERIAS</h3>
                    <p>Contamos con las ingenierías mas competitivas del mercado</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="team-section pt-100 pb-70">
    <div class="container">
        <div class="section-head text-center">
            <h2><span>Residentes</span></h2>
            <p>Contamos con estudiantes de gran calidad humana e innovadores</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/resitente1-1.png" alt="team member">

                        <div class="team-social">
                            <a href="#" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="#" target="_blank"><i class="icofont-twitter"></i></a>
                            <a href="#" target="_blank"><i class="icofont-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="icofont-instagram"></i></a>
                        </div>
                    </div>

                    <div class="team-text">
                        <h4>Equipo 1</h4>
                        <p>Residente</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/resitente2-2.png" alt="team member">

                        <div class="team-social">
                            <a href="#" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="#" target="_blank"><i class="icofont-twitter"></i></a>
                            <a href="#" target="_blank"><i class="icofont-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="icofont-instagram"></i></a>
                        </div>
                    </div>

                    <div class="team-text">
                        <h4>Equipo 2</h4>
                        <p>Residente</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/resitente3-3.png" alt="team member">

                        <div class="team-social">
                            <a href="#" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="#" target="_blank"><i class="icofont-twitter"></i></a>
                            <a href="#" target="_blank"><i class="icofont-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="icofont-instagram"></i></a>
                        </div>
                    </div>

                    <div class="team-text">
                        <h4>Equipo 3</h4>
                        <p>Residente</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-card">
                    <div class="team-img">
                        <img src="assets/FOTOS/TODAS/residente4.png" alt="team member">

                        <div class="team-social">
                            <a href="#" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="#" target="_blank"><i class="icofont-twitter"></i></a>
                            <a href="#" target="_blank"><i class="icofont-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="icofont-instagram"></i></a>
                        </div>
                    </div>

                    <div class="team-text">
                        <h4>Equipo 4</h4>
                        <p>Residente</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="testimonial-section testimonial-bg ptb-100">
    <div class="testimonial-area">
        <div class="container">
            <div class="testimonial-slider owl-carousel owl-theme text-center">
                <div class="sin-testiText">
                    <h2>Gran Espacio</h2>
                    <p>Contamos con instalaciones con gran espacio para trabajar.
                        Con una distribución exacta para poder trabajar cómodamente.</p>
                </div>

                <div class="sin-testiText">
                    <h2>ESPACIO AMPLIO</h2>
                    <p>Espacios amplios para la investigación del Centro de Cooperación Academia Industria</p>
                </div>

                <div class="sin-testiText">
                    <h2>BUEN AMBIENTE ESTUDIANTIL </h2>
                    <p>Contamos como un gran ambiente entre nuestros estudiantes lo
                        que hace que sea más agradable la investigación en progreso</p>
                </div>
            </div>
        </div>
    </div>
</div>

