<div class="contact-section">
    <div class="container">
        <div class="contact-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="contact-img">
                        <img src="assets/FOTOS/TODAS/contacto-inicio-footer.png" alt="contact image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="contact-text">
                        <div class="section-head">
                            <h2>Nos encanta<span>saber lo que piensas</span></h2>
                        </div>

                        <div class="contact-form">
                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-md-12 col-sm-6">
                                        <div class="form-group mb-3">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Tu Nombre">
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-6">
                                        <div class="form-group mb-3">
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Tu Correo">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group mb-3">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Tu Mensaje"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn page-btn">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="assets/FOTOS/TODAS/logo-2.png" alt="logo">
                        </a>
                    </div>
                    
                    <div class="email">
                        <form class="newsletter-form">
                            <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL">
                            <button class="default-btn electronics-btn" type="submit"><i class="icofont-location-arrow"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-40">
                    <h3>Services</h3>

                    <ul>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service">Medidor de Corriente</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-two">Sistemas Inteligentes</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-three">Implementacion de una red neuronal con arduino</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/service-details">Procesamiento de imagenes mediante redes neuronales</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-40">
                    <h3>Quick Links</h3>

                    <ul>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/index">Inicio</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/about">About</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/blog">Servicios</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/team">Team</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3>Find Us</h3>
                    <ul class="find-us">
                        <li>
                            <i class="icofont-phone"></i>
                            <a href="tel:50002300">50002300</a>
                        </li>
                        <li>
                            <i class="icofont-ui-message"></i>
                            <a href="mailto:ccai@tese.edu.mx">ccai@tese.edu.mx</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-lg-6">
                    <div class="footer-social">
                        <ul>
                            <li><a href="https://www.facebook.com/TESECCAI/" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="https://twitter.com/avilajacob" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCmiik0pCnObXFrUm0GgOx8g" target="_blank"><i class="icofont-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="copyright-text text-end">
                        <p>&copy;2021 Kiaz. All Rights Reserved By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="top-btn">
    <i class="icofont-scroll-long-up"></i>
</div>
